.min-width-800{
    min-width: 800px !important;
}
.filetable-actionbutton {
    width: 100px;
    text-align: center;

}

.table-inner-div{
    overflow-y: scroll;
}

.table-custom-scroll::-webkit-scrollbar {
    width: 0px !important;
    height: 2px !important;
  }
  /* Track */
  .table-custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(180, 176, 176); 
    border-radius: 20%;
  }
  
  /* Handle */
  .table-custom-scroll::-webkit-scrollbar-thumb {
    background: rgb(180, 176, 176); 
    border-radius: 50px;
  }
  